*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  max-width: 1140px;
  max-height: 534px;
  margin: 133px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.result{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 711px;
  height: 100%;
}

.result__video-container{
  position: relative;
  z-index: 0;
  max-height: 386px;
  width: 100%;
  margin-bottom: 16px;
  object-position:center; 
}

.result__video-container .result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  max-height: 54px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.search-form__fieldset {
  border:  none;
}


.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed' ;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 5px;  
}

.search-form__label {
  min-width: 61px;
}

.search-form__textfield {
  background: none;
  border-style: none;
  width: 225px;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7) ;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  appearance: none;
}

.search-form__textfield:active {
  outline: 1px solid white;
  text-decoration: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.search-form__checkbox {
  appearance: none;
}

.search-form__checkbox-list {
  max-height: min-content;
  min-width: 212px;
  display: flex;
  justify-content:space-between;
}

.search-form__label {
  display: flex;
  gap: 5px;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  cursor: pointer;
}

input[type='checkbox']:checked + span::before {
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  border: 1px solid white;
  background: white;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-position: unset;
}

.search-form__submit-button  {
  width: 194px;
  min-height: 34px;
  margin-top: auto;
}

.search-form__submit-button:active {
  background: #545050;
}

.search-form__submit-button:hover:not(.search-form__submit-button:active) {
  text-decoration: underline;
}

.content__details {
  padding-left: 30px;
  width: 100%;
  height: 100%;
}
.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__list {
  margin-top: 24px;
  position: relative;
  z-index: 0;
  height: 298px;
  overflow: auto;
}

.content__list-item {
  overflow: hidden;
}

.content__list-item:not(:last-child) {
  margin-bottom: 28px;
}

.content__card-link {
  margin: 2px;
  display:block;
  color: #fff;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__card-link_current:active {
  background: #545050;
}

.content__card-link_current {
  background-color: #545050;
} 

.content__video-card {
  max-height: 107px;
  width: 399px;
  display: grid;
  grid-template-columns: 1fr min-content;
}

.content__video-card:hover:not(.content__video-card:active) {
  text-decoration: underline;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  margin-bottom: 6px;
}


.content__video-card-description-container {
  display: block;
  width: 200px;
  padding: 5px 2px;
  width: 100%;
  min-height: 100%;
}


.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: lowercase ;
  }
  
.content__video-card-thumbnail{
  min-height: 107px;
  width: 192px;
}

.more-button {
  margin: 2px;
  width: 98%;
  min-height: 34px;
}

.button {
  cursor: pointer;
  background: none;
  border-style: none;
  border: 1px solid white;
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 2px;
}

.visually-hidden {
  position: absolute;
  z-index: 1;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
